<div
  class="blank-layout-container justify-content-center align-items-center bg-light"
>
  <div
    class="position-relative row w-100 h-100 bg-gredient justify-content-center"
  >
    <div class="col-lg-4 d-flex align-items-center">
      <mat-card class="cardWithShadow boxed-auth">
        <mat-card-content class="p-32">
          <div class="text-center">

              <img
                src="./assets/images/logos/mainLogo.png"
                class="align-middle m-2 logo-img"
                alt="logo"
              />
          <h2 class="m-b-8 f-s-24 f-w-700">LearnLoop</h2>
          </div>

          <form
            class="m-t-30"
            #loginForm="ngForm"
            (ngSubmit)="onSubmit(loginForm)"
            novalidate
          >
            <mat-label class="f-s-14 f-w-600 m-b-12 d-block">Email</mat-label>
            <mat-form-field appearance="outline" class="w-100" color="primary">
              <input
                matInput
                type="email"
                name="email"
                [(ngModel)]="email"
                required
                email
                #emailmodel="ngModel"
                placeholder="Enter your email"
              />
              <div
                *ngIf="emailmodel.invalid && emailmodel.touched"
                class="error"
              >
                Please enter a valid email.
              </div>
            </mat-form-field>
            <!-- password -->
            <mat-label class="f-s-14 f-w-600 m-b-12 d-block"
              >Password</mat-label
            >
            <mat-form-field appearance="outline" class="w-100" color="primary">
              <input
                matInput
                type="password"
                name="password"
                [(ngModel)]="password"
                required
                minlength="6"
                placeholder="Enter your password"
                #passwordmodel="ngModel"
              />
              <div
                *ngIf="passwordmodel.invalid && passwordmodel.touched"
                class="error"
              >
                Please enter a valid password.
              </div>
            </mat-form-field>

            <button
              mat-flat-button
              color="primary"
              class="w-100"
              [disabled]="loginForm.invalid"
            >
              Sign In
            </button>
            <!-- input -->
          </form>
          <span class="d-block f-w-500 text-center m-t-24"
            >New to LearnLoop?
            <a
              [routerLink]="['/authentication/register']"
              class="text-decoration-none text-primary f-w-500 f-s-14"
            >
              Create an account</a
            >
          </span>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
